@import "colors/color-variables";
@import "colors/color-classes";

.content {
  padding: 16px;
}

// Align
.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}